# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# MCAP log and metric files
*.mcap
examples/mcap/*.mcap
examples/metrics/*.mcap

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Ignore telemetry.toml and config.toml
telemetry.json
telemetry.toml
telemetry.yaml
